<div class="container" *ngIf="decoratedNews$ | async as decoratedNews">
  <app-news
    [news]="decoratedNews.hits"
    [currentPage]=(paginator.pageIndex*paginator.pageSize)>
  </app-news>
</div>


<mat-paginator *ngIf="!(error$ | async)"
               [ngClass]="{hidden: loading}"
               [length]="length"
               [pageSize]="pageSize">
</mat-paginator>

<div class="error" *ngIf="error$ | async as err">
  <h2>{{err}}</h2>
</div>

<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


