.spinner-container mat-spinner {
  margin: 95px auto 0 auto;
  background-color: #F6F6F0;
}

.container {
  padding: 20px;
  background-color: #F6F6F0;
}

.hidden {
  display: none;
}

mat-paginator {
  background-color: #F6F6F0;
}

.error{
  padding-left: 50px;
}


