mat-sidenav-container {
  background-color: #F6F6F0;
}

a {
  color: black;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mat-mdc-button:not(:disabled) {
  color: black;
}

mat-toolbar {
  height: 24px;
  padding: 2px;
}


img {
  border: 2px solid white;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

span {
  padding-left: 4px;
}

