<mat-sidenav-container>
  <mat-toolbar color="primary">
    <a routerLink="/">
      <img src="https://news.ycombinator.com/y18.gif" alt="">
      <span>Hacker News</span>
    </a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

