.tree-demo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.spinner-container mat-spinner {
  margin: 95px auto 0 auto;
}

.leaf-node {
  padding-left: 30px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node .nested-node {
  padding-left: 40px;
}

.example-tree .nested-node > .mat-tree-node {
  padding-left: 40px;
}

p {
  margin: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mat-tree-node {
  align-items: end;
}

.error{
  padding-left: 50px;
}

mat-tree {
  background-color: #F6F6F0;
}

