<div class="tree-demo-container" *ngIf="!loading && !(error$ | async)">
  <h3 *ngIf="firstItem?.title">{{firstItem.title}}</h3>
  <p class="pb-10" *ngIf="firstItem?.author"><b>Author:</b> {{firstItem.author}}</p>
  <div *ngIf="firstItem?.text" [innerHTML]=firstItem.text></div>

  <mat-tree
    [dataSource]="flatDataSource"
    [treeControl]="flatTreeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="leaf-node">
        <div>
          <p><b>{{node.author}}: </b></p>
          <div>
            <div [innerHTML]=node.text></div>
          </div>
        </div>
      </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when:hasFlatChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon>
          {{flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div>
        <p><b>{{node.author}}: </b></p>
        <div>
          <div [innerHTML]=node.text></div>
        </div>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>

<div class="error" *ngIf="error$ | async as err">
  <h2>{{err}}</h2>
</div>

<div *ngIf="loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>


