<div *ngFor="let oneNews of news; let idx=index">
  <div>
    <a href="{{oneNews.url}}">{{currentPage + idx + 1}}. {{oneNews.title}}</a>
  </div>
  <div class="underTitle">{{oneNews.points}} points by {{oneNews.author}} |
    <a class="underTitle" [routerLink]="['/news','comment',oneNews.objectID]">{{oneNews.num_comments}} comments</a>
  </div>
</div>
