a {
  text-decoration: none;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
}

a:hover {
  text-decoration: underline;
}

.underTitle {
  color: #828282;
  font-family: Verdana, sans-serif;
  font-size: 7pt;
  font-weight: 400;
}
